%div{:data => {:role => :page}, :id => "CLAIM#{@claim.id}"}
  %header{:data => {:role => :header}}
    %h1= @claim.bill.code
    - if @claim.bill.receipt
      %a.ui-btn-right{:href => @claim.bill.receipt_url, :data => {:ajax => :false, :icon => 'flat-eye', :iconpos => :notext, :theme => :b, :inline => :true, :corners => :true, :shadow => :true, :iconshadow => :true}}
  .content{:data => {:role => :content}}
    = form_tag bill_claim_path(@claim.bill, @claim), :method => :put do
      %span Amount
      %input{:name => 'claim[amount_cents]', :type => 'number', :value => @claim.amount_cents }
      %br
      %span Tip
      %input{:name => 'claim[tip_amount_cents]', :type => 'number', :value => @claim.tip_amount_cents }
      %br
      = submit_tag 'Save'

