#create{:data => {:role => :page}}
  %header{:data => {:role => :header}}
    %h1 Create Table
  .content{:data => {:role => :content}}
    %input{:name => 'image', :type => 'file', :accept => 'image/*;capture=camera'}
    %input{:name => 'total_cents', :type => 'text', :placeholder => '10.50'}