#join{:data => {:role => :page}}
  %header{:data => {:role => :header}}
    %h1 Join Table
  .content{:data => {:role => :content}}
    = form_tag join_bills_path, :method => :get do
      %input{:type => :number, :name => 'id', :placeholder => 'Enter the code'}