#landing{:data => {:role => :page}}
  %header{:data => {:role => :header}}
    %h1 D-Bill
  .content{:data => {:role => :content}}
    %a{:href => '#create', :data => {:role => :button}} Create Table
    %a{:href => '#join', :data => {:role => :button}} Join Table