@import 'jquery.mobile';
@import 'jquery.mobile.flatui';

.add-image{
  position: relative;
  > *{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .ui-btn{
    width: 100%;
    z-index: 10;
    margin: 0;
    pointer-events: none;

  }
}

.ui-icon{
  background-image: none;
  width: 0;
  height: 0;
}

#receipt_image_dialog{
  padding: 0;
  background: black;
  img{
    width: 100%;
  }
}

.content ul li {
  overflow: hidden;

  .name {
    float: left;
  }

  .amount, .tip {
    float: right;
    width: 80px;
    text-align: right;
  }
}
